@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
}

:root {
    font-family: font-family: 'Noto Sans TC', sans-serif;
    --main-color: black;
}

.heading .logo img {
    display: block;
    position: relative;
    width: 200px;
    height: auto;
    padding: 30px;
    border-radius: 50px;
    
}
.heading nav a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--main-color);
    padding: 0 50px;
    font-size: large;
}

.heading nav a:hover {
    color: rgb(255, 255, 255); 
    font-weight: bold;
}

#home {
    background-image: url(../img/Beer.jpg);
    background-size: cover;
    background-position: center;
    min-width: 600px;
    height: 600px;
}

.natural-beer h1 {
    display: block;
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}
.colorword {
    color: white;
}

.price .order {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    font-size: large;
    
}

@media (min-width: 600px) {

.heading {    
    display: flex;
    }

.heading nav {
    display: flex;
    flex: 1;
    align-items: center;
    }

.natural-beer {
    display: block;
    padding: 100px;
    }

.fpage img {
    display: block;
    width: 50px;
    border-radius: 20px;
    }
.fpage {
    display: block;
    position: absolute;
    right: 150px;
    top: 110px;  
    }
}

