@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
}

:root {
    font-family: font-family: 'Noto Sans TC', sans-serif;
    --main-color: black;
    
}

body {
    max-width: 1450px;
    margin: auto;
}

.container .navbar-brand img {
    display: block;
    width: 200px;
    height: auto;
    padding: 30px;
    border-radius: 50px;
    
}
.container .navbar-nav a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(255, 255, 255) !important; 
    font-size: 22px;
    margin: 20px;
    
}

.container .navbar-nav a:hover {
    color: rgb(212, 212, 212) !important; 
    font-weight: bold;
    text-decoration: underline;
}
.container .fpage .fb {
    display: block;
    
}
.fpage .fb {
    display: block;
    width: 40px;
    border-radius: 20px;
    }

.highlight {
    color: rgb(49, 49, 49);
    display: block;
    text-align: center;
    font-size: 30px;
}

#home {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/wallpaper.jpg);
    background-size: cover;
    background-position: center;
    min-height: 800px;
}

.accesories-price .beer-price {
    display: block;
    text-align: center;
    text-decoration: 0;
    font-size: 50px;
    padding-top: 100px;
    color: rgb(255, 255, 255); 
}
    

    @media (min-width: 600px) {

        .navbar {    
            display: flex;
        }
        
        .navbar .navbar .fpage {
            display: flex;
            flex: 1;
            align-items: center;
            justify-content: space-between;
            
        }
        .fpage {
            display: flex;
            margin-right: 100px;
            
        }
        
                  
     }

 .list {
        background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/wood.jpg);
        background-size: cover;
        background-position: center;
        min-height: 600px;
        padding: 50px;
        
    }
    @media (min-width: 600px) {
    
.listbuy {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 10em;
}

p {
    color: white;
}   
    
    #contacts {
        display: block;
        background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/wood.jpg);
        background-size: cover;
        background-position: center;
        min-height: 100px;
        padding: 50px;
        
    }
    
    .contact-us {
        color: black;
        font-size: 35px;
    }
    
    .use-name {
        color: black;
        font-size: 25px;
    }
    
    .use-tel {
        color: black;
        font-size: 25px;
    } 
}       