@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
}

:root {
    font-family: font-family: 'Noto Sans TC', sans-serif;
    --main-color: black;
    
}

body {
    max-width: 1250px;
    margin: auto;
}

.heading .logo img {
    display: block;
    width: 150px;
    height: auto;
    padding: 30px;
    border-radius: 50px;
    
}
.heading nav a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--main-color);
    font-size: 19px;
    
}

.heading nav a:hover {
    color: rgb(255, 255, 255); 
    font-weight: bold;
    text-decoration: underline;
}
.heading .fpage .fb {
    display: block;
    
}
.fpage .fb {
    display: block;
    width: 50px;
    border-radius: 20px;
    }

.highlight {
    color: rgb(49, 49, 49);
    display: block;
    text-align: center;
    font-size: 30px;
}

#home {
    background-image: url(../img/beer.jpg);
    background-size: cover;
    background-position: center;
    min-height: 400px;
    }

.accesories-price {
    display: block;
    text-align: center;
    

}
    

    @media (min-width: 600px) {

        .heading {    
            display: flex;
        }
        
        .heading nav {
            display: flex;
            flex: 1;
            align-items: center;
            justify-content: space-around;
            
        }
        .heading .fpage {
            display: block;
            margin-right: 15px;
            margin-top: 70px;
        }
        
                  
     }

 .list {
        background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/background2.jpg);
        background-size: cover;
        background-position: center;
        min-height: 600px;
        
    }
 
    #contacts {
        display: block;
        background-image: url(../img/background2.jpg);
        background-size: cover;
        background-position: center;
        min-height: 100px;
        padding: 50px;
        
    }
    
    .contact-us {
        color: black;
        font-size: 35px;
    }
    
    .use-name {
        color: black;
        font-size: 25px;
    }
    
    .use-tel {
        color: black;
        font-size: 25px;
    }    